<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/book.css') }}">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <a class="logo" href="#">BiblioNauta</a>
        <nav>
            <a href="#">Explore</a>
            <a href="#">Categories</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </nav>
    </header>
    <main>
        <div class="title">
            <h1>Titulo</h1>
            <h2>autor</h2>
        </div>
        <div class="cont-box">
            <img src="/HTML/img/Stars.jpeg" alt="">
            <div class="info-box">
                <P class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ex quas qui, impedit,
                    adipisci culpa vel
                    et possimus quidem, expedita optio officiis sequi temporibus provident rem eos molestiae distinctio
                    minus. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae qui amet neque quod obcaecati
                    itaque placeat hic quaerat molestias fuga, dolore quasi error? Distinctio, animi. Nulla optio
                    laboriosam ullam id. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet ullam
                    molestiae aliquam animi asperiores ea libero fugiat perferendis, quo quas. Praesentium labore
                    exercitationem dignissimos sed impedit rerum cum harum optio! Lorem ipsum dolor, sit amet
                    consectetur adipisicing elit. Necessitatibus voluptatum perspiciatis esse nesciunt, quo voluptas
                    animi et accusantium distinctio, reprehenderit dicta exercitationem amet porro sed. Eveniet unde
                    iusto neque maiores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo iure odit
                    pariatur atque rem sint, porro eos praesentium reprehenderit totam velit quo corrupti, laudantium
                    commodi provident optio est error rerum.</P>
                <div class="date-box">
                    <div>
                        <strong>Fecha de Publicacion</strong>
                        <p>0000/00/00</p>
                    </div>
                    <div>
                        <strong>Genero</strong>
                        <p>aaaaaa</p>
                    </div>
                    <div>
                        <strong>Numero de Paginas</strong>
                        <p>777</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>