<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/edit-user.css') }}" />
    <link rel="shortcut icon" href="/static/img/logo.png" />
    <title>BiblioNauta</title>
    <!-- fuente link -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Cinzel:wght@400..900&display=swap"
        rel="stylesheet" />
</head>

<body>
    <div class="fondo"></div>
    <div class="edit-container">
        <div class="user">
            <div class="foto-user">
                <img src="/static/img/PhUserCircleFill (1).png">
                <h1>User.nombre</h1>
            </div>
            <div class="edit-user">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                    <path fill="#F8F1DF"
                        d="M128 224v512a64 64 0 0 0 64 64h640a64 64 0 0 0 64-64V224zm0-64h768a64 64 0 0 1 64 64v512a128 128 0 0 1-128 128H192A128 128 0 0 1 64 736V224a64 64 0 0 1 64-64" />
                    <path fill="#F8F1DF"
                        d="M904 224L656.512 506.88a192 192 0 0 1-289.024 0L120 224zm-698.944 0l210.56 240.704a128 128 0 0 0 192.704 0L818.944 224z" />
                </svg>
                <h1>example@gmail.com</h1>
            </div>
            <div class="edit-user">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                    <defs>
                        <mask id="IconifyId1928b80f79bfb861">
                            <g fill="none" stroke-linejoin="round" stroke-width="4">
                                <path fill="#fff" stroke="#fff" d="M5 19h38v21a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2z" />
                                <path stroke="#fff" d="M5 9a2 2 0 0 1 2-2h34a2 2 0 0 1 2 2v10H5z" />
                                <path stroke="#fff" stroke-linecap="round" d="M16 4v8m16-8v8" />
                                <path stroke="#000" stroke-linecap="round" d="M28 34h6m-20 0h6m8-8h6m-20 0h6" />
                            </g>
                        </mask>
                    </defs>
                    <path fill="#F8F1DF" d="M0 0h48v48H0z" mask="url(#IconifyId1928b80f79bfb861)" />
                </svg>
                <h1> Se unio el xx/xx/xxxx</h1>
            </div>

        </div>
    </div>
</body>

</html>