<!DOCTYPE static>
<static lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/style.css') }}">
        <title>BliobioNauta</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <a class="logo" href="/">BiblioNauta</a>
            <nav>
                <a href="#">Explorar</a>
                <a href="#">Categorias</a>
                <a href="#">About</a>
                <a href="#">Contacto</a>
            </nav>
        </header>
        <div class="cont-box">
            <aside class="categories">
                <h3>Categorias</h3>
                <ul>
                    {%for category in categories%}
                        <li><a href="/category/{{category}}">{{category}}</a></li>
                    {%endfor%}
                </ul>
                <img src="/static/img/Astronauta.png" alt="">
            </aside>
            <main class="featured-books">
                <h2>{{category}}</h2>
                <div class="grid">
                    {%if category == "Libros destacados"%}
                        {%for book in books%}
                        <article>
                            <div class="book-img">
                                <a href="/book/{{book.isbn}}">
                                    <img src={{book.imagen}} width="200" height="300" alt="Book Cover" />
                                </a>
                            </div>
                            <div class="book-info">
                                <h3>{{book.titulo}}</h3>
                                <p>{{book.autores}}</p>
                            </div>
                        </article>
                        {%endfor%}
                    {%else%}
                        {%for book in books%}
                            {%if book.generos == category%}
                            <article>
                                <div class="book-img">
                                    <a href="/book/{{book.isbn}}">
                                        <img src={{book.imagen}} width="200" height="300" alt="Book Cover" />
                                    </a>
                                </div>
                                <div class="book-info">
                                    <h3>{{book.titulo}}</h3>
                                    <p>{{book.autores}}</p>
                                </div>
                            </article>
                            {%else%}
                            {%endif%}
                        {%endfor%}
                    {%endif%}
                </div>
            </main>
        </div>
    </body>

</static>