<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/style.css') }}">
    <title>BliobioNauta</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <a class="logo" href="#">BiblioNauta</a>
        <nav>
            <a href="#">Explorar</a>
            <a href="#">Categorias</a>
            <a href="#">About</a>
            <a href="#">Contacto</a>
        </nav>
    </header>
    <div class="cont-box">
        <aside class="categories">
            <h3>Categorias</h3>
            <ul>
                <li><a href="#">Astronomy</a></li>
                <li><a href="#">Sci-Fi</a></li>
                <li><a href="#">Astrophysics</a></li>
                <li><a href="#">Space Exploration</a></li>
                <li><a href="#">Cosmology</a></li>
                <li><a href="#">Planetary Science</a></li>
            </ul>
            <img src="/HTML/img/Astronauta.png" alt="">
        </aside>
        <main class="featured-books">
            <h2>Libros destacados</h2>
            <div class="grid">
                <article>
                    <a href="#">
                        <img src="/HTML/img/Stars.jpeg" width="200" height="300" alt="Book Cover" />
                    </a>
                    <div class="book-info">
                        <h3>The Elegant Universe</h3>
                        <p>Brian Greene</p>
                    </div>
                </article>
                <article>
                    <a href="#">
                        <img src="/HTML/img/Stars.jpeg" width="200" height="300" alt="Book Cover" />
                    </a>
                    <div class="book-info">
                        <h3>Astrophysics for People in a Hurry</h3>
                        <p>Neil deGrasse Tyson</p>
                    </div>
                </article>
                <article>
                    <a href="#">
                        <img src="/HTML/img/Stars.jpeg" width="200" height="300" alt="Book Cover" />
                    </a>
                    <div class="book-info">
                        <h3>A Brief History of Time</h3>
                        <p>Stephen Hawking</p>
                    </div>
                </article>
                <article>
                    <a href="#">
                        <img src="/HTML/img/Stars.jpeg" width="200" height="300" alt="Book Cover" />
                    </a>
                    <div class="book-info">
                        <h3>Cosmos</h3>
                        <p>Carl Sagan</p>
                    </div>
                </article>
                <article>
                    <a href="#">
                        <img src="/HTML/img/Stars.jpeg" width="200" height="300" alt="Book Cover" />
                    </a>
                    <div class="book-info">
                        <h3>Pale Blue Dot</h3>
                        <p>Carl Sagan</p>
                    </div>
                </article>
                <article>
                    <a href="#">
                        <img src="/HTML/img/Stars.jpeg" width="200" height="300" alt="Book Cover" />
                    </a>
                    <div class="book-info">
                        <h3>The Fabric of the Cosmos</h3>
                        <p>Brian Greene</p>
                    </div>
                </article>
                <article>
                    <a href="#">
                        <img src="/HTML/img/Stars.jpeg" width="200" height="300" alt="Book Cover" />
                    </a>
                    <div class="book-info">
                        <h3>Gravity's Rainbow</h3>
                        <p>Thomas Pynchon</p>
                    </div>
                </article>
                <article>
                    <a href="#">
                        <img src="/HTML/img/Stars.jpeg" width="200" height="300" alt="Book Cover" />
                    </a>
                    <div class="book-info">
                        <h3>The Martian</h3>
                    </div>
                </article>
                <article>
                    <a href="#">
                        <img src="/HTML/img/Stars.jpeg" width="200" height="300" alt="Book Cover" />
                    </a>
                    <div class="book-info">
                        <h3>Gravity's Rainbow</h3>
                        <p>Thomas Pynchon</p>
                    </div>
                </article>
                <article>
                    <a href="#">
                        <img src="/HTML/img/Stars.jpeg" width="200" height="300" alt="Book Cover" />
                    </a>
                    <div class="book-info">
                        <h3>Gravity's Rainbow</h3>
                        <p>Thomas Pynchon</p>
                    </div>
                </article>
                <article>
                    <a href="#">
                        <img src="/HTML/img/Stars.jpeg" width="200" height="300" alt="Book Cover" />
                    </a>
                    <div class="book-info">
                        <h3>Gravity's Rainbow</h3>
                        <p>Thomas Pynchon</p>
                    </div>
                </article>
                <article>
                    <a href="#">
                        <img src="/HTML/img/Stars.jpeg" width="200" height="300" alt="Book Cover" />
                    </a>
                    <div class="book-info">
                        <h3>Gravity's Rainbow</h3>
                        <p>Thomas Pynchon</p>
                    </div>
                </article>
            </div>
        </main>
    </div>
</body>

</html>