<!DOCTYPE static>
<static lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/style.css') }}">
        <title>BliobioNauta</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <a class="logo" href="/">BiblioNauta</a>
            <nav>
                <a href="#">Explorar</a>
                <a href="#">Categorias</a>
                <a href="#">About</a>
                <a href="#">Contacto</a>
            </nav>
        </header>
        <div class="cont-box">
            <aside class="categories">
                <h3>Categorias</h3>
                <ul>
                    <li><a href="/category/Astronomy">Astronomy</a></li>
                    <li><a href="#">Sci-Fi</a></li>
                    <li><a href="#">Astrophysics</a></li>
                    <li><a href="#">Space Exploration</a></li>
                    <li><a href="#">Cosmology</a></li>
                    <li><a href="#">Planetary Science</a></li>
                </ul>
                <img src="/static/img/Astronauta.png" alt="">
            </aside>
            <main class="featured-books">
                <h2>{{categoria}}</h2>
                <div class="grid">
                    {%if categoria == "Libros destacados"%}
                        {%for i in books%}
                        <article>
                            <div class="book-img">
                                <a href="/book/{{i.isbn}}">
                                    <img src={{i.imagen}} width="200" height="300" alt="Book Cover" />
                                </a>
                            </div>
                            <div class="book-info">
                                <h3>{{i.titulo}}</h3>
                                <p>{{i.autores}}</p>
                            </div>
                        </article>
                        {%endfor%}
                    {%endif%}
                    {{else}}
                        {%for i in books%}
                        <article>
                            <div class="book-img">
                                <a href="/book/{{i.isbn}}">
                                    <img src={{i.imagen}} width="200" height="300" alt="Book Cover" />
                                </a>
                            </div>
                            <div class="book-info">
                                <h3>{{i.titulo}}</h3>
                                <p>{{i.autores}}</p>
                            </div>
                        </article>
                        {%endfor%}
                </div>
            </main>
        </div>
    </body>

</static>