<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/insert.css') }}">
    <link rel="shortcut icon" href="/static/img/logo.png">
    <! -- fuente link -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Cinzel:wght@400..900&display=swap"
            rel="stylesheet" />
    <title>BiblioNauta</title>
</head>

<body>
    <!-- parte derecha al darle click icono -->
    <div class="overlay hidden visuallyhidden" id="overlay"></div>
    {% if session %}
    <div class="overlay hidden visuallyhidden" id="overlay"></div>
    <div class="login-container hidden visuallyhidden" id="login-container">
      <div class="align-login-container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
          <path
            fill="#F8F1DF"
            d="M172 120a44 44 0 1 1-44-44a44.05 44.05 0 0 1 44 44m60 8A104 104 0 1 1 128 24a104.11 104.11 0 0 1 104 104m-16 0a88.09 88.09 0 0 0-91.47-87.93C77.43 41.89 39.87 81.12 40 128.25a87.65 87.65 0 0 0 22.24 58.16A79.7 79.7 0 0 1 84 165.1a4 4 0 0 1 4.83.32a59.83 59.83 0 0 0 78.28 0a4 4 0 0 1 4.83-.32a79.7 79.7 0 0 1 21.79 21.31A87.62 87.62 0 0 0 216 128"
          />
        </svg>
        <h1>{{session.username}}</h1>
        <div class="buttons">
          <button class="editarbutton">
            <a href="/profile/">Editar Perfil</a>
          </button> 

          <button class="cerrarbutton">
            <a href="/logout/">Cerrar sesion</a>
          </button>
        </div>
      </div>
    </div>
    {% else %}
    <div class="overlay hidden visuallyhidden" id="overlay"></div>
    <div class="login-container hidden visuallyhidden" id="login-container">
      <div class="align-login-container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
          <path
            fill="#F8F1DF"
            d="M172 120a44 44 0 1 1-44-44a44.05 44.05 0 0 1 44 44m60 8A104 104 0 1 1 128 24a104.11 104.11 0 0 1 104 104m-16 0a88.09 88.09 0 0 0-91.47-87.93C77.43 41.89 39.87 81.12 40 128.25a87.65 87.65 0 0 0 22.24 58.16A79.7 79.7 0 0 1 84 165.1a4 4 0 0 1 4.83.32a59.83 59.83 0 0 0 78.28 0a4 4 0 0 1 4.83-.32a79.7 79.7 0 0 1 21.79 21.31A87.62 87.62 0 0 0 216 128"
          />
        </svg>
        <a href="/login&register" class="login-button">Iniciar Sesión</a>
        <p>
          No tienes cuenta?
          <a href="/login&register" class="register-button">Regístrate</a>
        </p>
      </div>
    </div>
    {% endif %}

  <header class="header">
    <div>
      <img src="/static/img/logo.png" alt="" />
      <a href="/">
        <h1>BIBLIONAUTA</h1>
      </a>
    </div>
    <form action="/search" method="get">
      <svg xmlns="http://www.w3.org/2000/svg" width="2vw" viewBox="0 0 48 48">
        <defs>
          <mask id="IconifyId191010337f1eb1ccc5">
            <g fill="none" stroke="#fff" stroke-linejoin="round" stroke-width="4">
              <path fill="#555" d="M21 38c9.389 0 17-7.611 17-17S30.389 4 21 4S4 11.611 4 21s7.611 17 17 17Z" />
              <path stroke-linecap="round"
                d="M26.657 14.343A7.975 7.975 0 0 0 21 12a7.975 7.975 0 0 0-5.657 2.343m17.879 18.879l8.485 8.485" />
            </g>
          </mask>
        </defs>
        <path fill="#" d="M0 0h48v48H0z" mask="url(#IconifyId191010337f1eb1ccc5)" />
      </svg>
      <input type="text" placeholder="Busca algun libro..." name="search" id="search" />
    </form>
    <ul>
      <li>
        <a class="inicio" href="/favorites/">Favoritos</a>
      </li>
      <li>
        <a href="/categories/1/">Categorias</a>
      </li>
      <li>
        <a class="info" href="/">Inicio</a>
      </li>
      <li>
        {% if session %}
          {% if session["img"] == None %}
          <img id="user-icon" src="/static/img/PhUserCircleFill (1).png">
          {% else %}
          <img id="user-icon" src="{{ url_for('media', filename=session.img) }}">
          {% endif %}
        {% else %}
        <img id="user-icon" src="/static/img/PhUserCircleFill (1).png">
        {% endif %}
      </li>
      <li class="texto">
        <h1>
          Ingresar
        </h1>
      </li>
      <li class="list-menu">
        <a href="/categories/1/">
          <svg xmlns="http://www.w3.org/2000/svg" width="3vw" viewBox="0 0 256 256">
            <path fill="#EE9E59"
              d="M228 128a12 12 0 0 1-12 12H40a12 12 0 0 1 0-24h176a12 12 0 0 1 12 12M40 76h176a12 12 0 0 0 0-24H40a12 12 0 0 0 0 24m176 104H40a12 12 0 0 0 0 24h176a12 12 0 0 0 0-24" />
          </svg>
        </a>

      </li>
    </ul>
  </header>
  <form class="searchs2" action="/search" method="get">
    <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 256 256">
        <path fill="#1C1B29"
            d="M232.49 215.51L185 168a92.12 92.12 0 1 0-17 17l47.53 47.54a12 12 0 0 0 17-17ZM44 112a68 68 0 1 1 68 68a68.07 68.07 0 0 1-68-68" />
    </svg>
    <input type="text" placeholder="Busca algun libro..." name="search" id="search">
</form>
    <div class="wrapper">
        <div class="login_box">
            <div class="login-header">
                <span>Agregar Libro</span>
            </div>

            <form action='{{ url_for("test")}}' method="post" class="input_box">
                <input type="text"  id="ISBN" name="isbn" class="input-field" required>
                <label for="user" class="label">ISBN del libro (sin puntos ni guion)</label>
                <i class="bx bx-user icon"></i>

                <div class="input_box">
                    <input type="submit" class="input-submit" value="Probar">
                </div>
            </form>
        </div>
    </div>

</body>

</html>