<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BiblioNauta</title>
    <style>
        form{
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <h1>Agrega informacion faltante</h1>
    <form action="/test/fill/" method="post">
        <input name="isbn" type="hidden" value="{{isbn}}">
        <label for="autores">Autores(Si hay mas de uno separelo con comas; ejemplo: Miguel Tapia, Fernado Ojeda)</label>
        <input name="autores" id="autores" type="text">
        <label for="publicationDate">Fecha de Publicación</label>
        <input name="publicationDate" id="publicationDate" type="text">
        <label for="generos">Generos(Si hay mas de uno separelo con comas; ejemplo: Ficcion, Horror)</label>
        <input name="generos" id="generos" type="text">
        <label for="img">Imagen(Ingrese el link de la imagen)</label>
        <input name="img" id="img" type="text">
        <input type="submit" value="Enviar">
    </form>
</body>
</html>