* {
    margin: 0;
    padding: 0;
    font-family: "Advent Pro", sans-serif;
}

body {
    background-color: #1C1B29;
}

.mas {
    color: #F8F1DF;
}

.header {
    background-color: #1C1B29;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header img {
    width: 8vw;
}

.header input {
    height: 35px;
    width: 300px;
    background-color: #1D2C4B;
    color: #F8F1DF;
    border-style: none;
    outline: none;
    font-size: 1.5vw;
}

.header form {
    border-radius: .5vw;
    display: flex;
    padding: .5vw;
    align-items: center;
    background-color: #1D2C4B;
}

.header h1 {
    color: #F8F1DF;
    margin: 0;
    font-size: 3vw;
    font-weight: bold;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header li {
    margin-left: 20px;
}

.header a {
    text-decoration: none;
    color: #F8F1DF;
    font-size: 1.8vw;
}

main {
    margin-bottom: 10vw;
}

main img {
    height: 50vw;
    object-fit: cover;
    aspect-ratio: 200 / 300;
    border-radius: 10px;
}

.title {
    text-align: center;
    margin-top: 3vw;
}

.title h1 {
    font-size: 80px;
    color: #F8F1DF;
}

.title h2 {
    font-size: 30px;
    color: rgb(102, 96, 80);
}

.cont-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3vw;
    gap: 5vw;
}

.info-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: #F8F1DF;
}

.description {
    width: 35vw;
}

.date-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
}

.date-box div {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}


.footer {
    background-color: #1D2C4B;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.social-media {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.social-media li {
    margin-right: 20px;
}

.social-media a {
    text-decoration: none;
}

@media (min-width:320px) and (max-width: 800px) {
    * {
        margin: 0;
        padding: 0;
        font-family: "Advent Pro", sans-serif;
    }

    body {
        background-color: #1C1B29;
    }

    .header {
        background-color: #1C1B29;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header h1 {
        color: #F8F1DF;
        margin: 0;
        font-size: 3vw;
        font-weight: bold;
    }

    .header a {
        text-decoration: none;
        color: #F8F1DF;
        font-size: 5vw;
    }

    .header ul {
        margin-left: -2vw;
    }

    .header img {
        width: 10vw;
    }

    .info,
    .inicio {
        display: none;
    }

    .header input {
        height: 20px;
        width: 80px;
        background-color: #1D2C4B;
        color: #F8F1DF;
        border-style: none;
        outline: none;
        font-size: 3vw;
    }

    .header form {
        border-radius: 5px;
        display: flex;
        padding: .5vw;
        align-items: center;
        background-color: #1D2C4B;
        margin-left: 3vw;
    }

    .header form svg {
        width: 20px;
        height: 20px;
    }

    main {
        margin-bottom: 10vw;
    }

    main img {
        height: 180vw;
        object-fit: cover;
        border-radius: 10px;
        margin: 1vw 4vw;
    }

    .title {
        text-align: center;
        margin-top: 3vw;
    }

    .title h1 {
        font-size: 14vw;
        color: #F8F1DF;
    }

    .title h2 {
        font-size: 8vw;
        color: rgb(102, 96, 80);
    }

    .cont-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 3vw;
        gap: 5vw;
    }

    .info-box {
        display: flex;
        flex-direction: column;
        gap: 40px;
        color: #F8F1DF;
    }

    .description {
        font-size: 5vw;
        text-align: center;
        margin: 1vw 4vw;
        width: 90vw;
    }

    .date-box {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2vw;
    }

    .date-box div {
        display: flex;
        flex-direction: column;
        gap: 0.5vw;
    }

}