* {
    margin: 0;
    padding: 0;
    font-family: "Advent Pro", sans-serif;
}

body {
    color: var(--light-bg-color);
}

:root {
    --dark-bg-color: #1C1B29;
    --dark2-bg-color: #1D2C4B;
    --contrast-bg-color: #EE9E59;
    --contrast2-bg-color: #6EBFC2;
    --light-bg-color: #F8F1DF;
  }


.fondo{
    position: fixed;
    background-size: 100% 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/static/img/cda743136c0457323ab07c776eeb9c4f~3.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.edit-container{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100vw;
    height: 100%;
    background-size: 100%;
}

.user{
    background-color: var(--dark-bg-color);
    border-radius: 2.5%;
    padding: 1%;
    width: 35%;

}

.volver-editar{
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

.volver{
    display: flex;
    align-items: center;
}

.volver a{
    font-size: 1.5vw;
    font-weight: 500;
    text-decoration: none;
    color: var(--contrast-bg-color);
}

.volver svg{
    width: 1.5vw;
}

.editar{
    
}

.foto-user {
    display: flex;
    align-items: center;
    margin-bottom: 2vw;
    
}

.foto-user label {
    font-size: 3vw;
    font-weight: 600;
}

.foto-user input {
    font-size: 1.5vw;
    font-weight: 500;
    display: none;
}


.icon-lapiz{
    width: 3vw;
    opacity: 0;
    transition: opacity 0.3s ease-in-out
}

.edit-button{
    background-color: var(--dark-bg-color);
    margin-left: 2vw;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.edit-button h1{
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.x{
    display: none;
    margin-left: 2vw;
    cursor: pointer;
    background-color: var(--dark-bg-color);
    display: flex;
    align-items: center;
}

.x svg{
    width: 3vw;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.x h1{
    width: 3vw;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.enviar{
    font-size: 1.75vw;
    width: 12vw;
    font-weight: 600;
    margin-left: 0.5vw;
    background-color: var(--dark-bg-color);
    color: var(--light-bg-color);
}

.volver-editar:hover .icon-lapiz{
    opacity: 1;
}

.volver-editar:hover .edit-button h1{
    opacity: 1;
}

.volver-editar:hover .x svg  {
    opacity: 1;
}

.volver-editar:hover .x h1  {
    opacity: 1;
}

.photo-container {
    position: relative;
    display: inline-block;
}

.photo {
    width: 8.5vw;
    cursor: pointer;
    border-radius: 50%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    border-radius: 50%;
    display: block;
}

.overlay svg, .overlay span {
    display: block;
    margin: auto;
    position: relative;
    top: 35%;
    transform: translateY(-50%);
    text-align: center;
}

.photo-container:hover .photo {
    opacity: 0.3;
}

.photo-container:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.overlay svg {
    width: 2.5vw;
}

.overlay span {
    color: var(--contrast-bg-color);
    font-size: 1.25vw;
    font-weight: 600;
    margin-left: 1.25vw;
    display: inline-block;
}

.edit-user{
    display: flex;
    align-items: center;
    margin-left: 0.5vw;
    margin-bottom: 2vw;
    justify-content: space-between;
}

.edit-user div{
    display: flex;
    align-items: center;
}

.edit-user label{
    font-size: 2vw;
    font-weight: 600;
}

.edit-user input{
    font-size: 1.5vw;
    font-weight: 500;
    display: none;
}

.edit-user svg{
    width: 2.5vw;
    margin-right: 1vw;
}
