* {
    margin: 0;
    padding: 0;
    font-family: "Advent Pro", sans-serif;
}

:root {
    --dark-bg-color: #1C1B29;
    --dark2-bg-color: #1D2C4B;
    --contrast-bg-color: #EE9E59;
    --contrast2-bg-color: #6EBFC2;
    --light-bg-color: #F8F1DF;
  }

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 1;
}

.login-container {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/img/20042f9caa485bddeac299a0abc2b984~2.jpg_1725883222476.jpg);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 2;
    height: 100%;
    background-size: 100% 100%;
    width: 25%;
    background-repeat: no-repeat;

}

.login-container svg{

}

.login-button{
    text-decoration: none;
    color: var(--light-bg-color);
    background-color: var(--contrast2-bg-color);
    font-size: 3vw;
    border-radius: 5%;
    width: 2vw;
}

.register-button{
    text-decoration: none;
    color: var(--contrast-bg-color);
    
}

.login-container p{
    color: var(--light-bg-color);
}

#user-icon {
    
    cursor: pointer;
}

.header {
    background-color: var(--dark-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header img {
    width: 8vw;
}

.header input {
    height: 35px;
    width: 300px;
    background-color: var(--contrast-bg-color);
    border-style: none;
    outline: none;
    font-size: 1.5vw;
}

.header form {
    border-radius: .5vw;
    display: flex;
    padding: .5vw;
    align-items: center;
    background-color: var(--contrast-bg-color);
}

#search::placeholder{
    color: var(--dark-bg-color);
}

.header h1 {
    color: var(--light-bg-color);
    margin: 0;
    font-size: 3vw;
    font-weight: bold;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.header li {
    margin-left: 20px;
}

.header li svg{
    width: 5zvw;
    max-height: 15vh;
}

.header a {
    text-decoration: none;
    color: var(--light-bg-color);
    font-size: 1.8vw;
}

.img-static {
    background-image: url(/static/img/fond.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    height: 38vw;
    padding: 0 1vw;
}

.img-static h2 {
    padding-top: 15vw;
    font-size: 10vw;
    color: var(--light-bg-color);
}

.img-static p {
    font-size: 2vw;
    color: var(--light-bg-color);
}

main {
    background-color: var(--dark-bg-color);
    height: auto;
}

.explora h2{
    color: var(--contrast2-bg-color);
    text-align: center;
    font-size: 3.5vw;
}
.explora p{
    color: var(--light-bg-color);
    text-align: center;
    font-size: 2vw;
    padding-top: 4vw;
}

.img-promo {
    margin: 2vw;
    gap: 2vw;
    display: flex;
    flex-direction: row;
    height: 43vw;
    color: var(--light-bg-color);
}

.img-izq {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/img/48sintítulo_20240903122551.jpg);
}

.img-izq h3,
.img-der h3 {
    font-weight: bold;
    font-size: 3vw;
}

.img-der {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/img/img-promo-der.jpg);
}

.img-der,
.img-izq {
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 48vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-center{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/img/776507155becf8114634271603b6cb0f.gif);
    border-radius: 20px;
    margin: 2vw;
    gap: 2vw;
    height: 55vw;
    color: var(--light-bg-color);
    background-repeat: no-repeat;
    background-size: 96vw;
}

.book-container {
    display: grid;
    margin: 2vw;
    gap: 2.5vw;
    grid-template-columns: repeat(4, 1fr);
}

.book-container >article {
    background-color: var(--dark2-bg-color);
    border-radius: 10px;
    overflow: hidden;
}

.book-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    aspect-ratio: 200 / 300;
}

.book-container img:hover {
    transform: scale(1.1);
}

.book-img {
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.book-container .book-info {
    padding: 10px;
    object-fit: cover;
}

.book-container h3 {
    font-size: 1.5vw;
    font-weight: 600;
    color: var(--light-bg-color);
}

.book-container p {
    font-size: 1vw;
    font-weight: 300;
    color: var(--light-bg-color);
}


.footer {
    background-color: var(--contrast2-bg-color);
    color: var(--dark-bg-color);
    padding: 20px 0;
    text-align: center;

}

.mas{
    color: var(--light-bg-color);
    padding-bottom: 9vh;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 8vh;
    font-size: 1.75vw;
    font-weight: 600;
}

.social-media {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 3vh;
    padding-bottom: 12vh;
    display: flex;
    justify-content: space-between;
}

.social-media li {
    margin-right: 20px;
}

.social-media a {
    text-decoration: none;
}

@media (min-width:320px) and (max-width: 800px){
    .header {
        background-color: #1C1B29;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header h1 {
        color: #F8F1DF;
        margin: 0;
        font-size: 3vw;
        font-weight: bold;
    }
    .header a {
        text-decoration: none;
        color: #F8F1DF;
        font-size: 5vw;
    }
    .header ul{
        margin-left: -2vw;
    }
    .header img{
        width: 10vw;
    }
    .info, .inicio{
        display: none;
    }
    .header input {
        height: 20px;
        width: 80px;
        background-color: #1D2C4B;
        color: #F8F1DF;
        border-style: none;
        outline: none;
        font-size: 3vw;
    }
    
    .header form {
        border-radius: 5px;
        display: flex;
        padding: .5vw;
        align-items: center;
        background-color: #1D2C4B;
        margin-left: 3vw;
    }
    .header form svg{
        width: 20px;
        height: 20px;
    }
    .img-static {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/img/fond2.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-attachment: fixed;
        height: 120vw;
        padding: 0 1vw;
    }
    
    .img-static h2 {
        text-align: center;
        padding-top: 40vw;
        font-size: 15vw;
        color: #F8F1DF;
    }
    
    .img-static p {
        text-align: center;
        font-size: 5vw;
        color: #F8F1DF;
    }
    
    main {
        background-color: #1C1B29;
        height: auto;
    }
    
    .explora h2{
        color: #F8F1DF;
        text-align: center;
        font-size: 7vw;
    }
    .explora p{
        color: #F8F1DF;
        text-align: center;
        font-size: 3vw;
        padding-top: 4vw;
    }
    
    .img-promo {
        margin: 2vw;
        gap: 2vw;
        display: flex;
        flex-direction: column;
        height: 170vw;
        color: #F8F1DF;
    }
    
    .img-izq {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/img/img-promo-der2.jpg);
    }
    
    .img-izq h3,
    .img-der h3 {
        text-align: center;
        font-weight: bold;
        font-size: 8vw;
    }
    
    .img-der {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/img/img-promo-der.jpg);
    }
    
    .img-der,
    .img-izq {
        border-radius: 20px;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .book-container {
        display: grid;
        margin: 2vw;
        gap: 2.5vw;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .book-container >article {
        background-color: #1D2C4B;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 10vw;
    }
    
    .book-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s;
        aspect-ratio: 200 / 300;
    }
    
    .book-container img:hover {
        transform: scale(1.1);
    }
    
    .book-img {
        width: 100%;
        height: 250px;
        overflow: hidden;
    }
    
    .book-container .book-info {
        padding: 10px;
        object-fit: cover;
    }
    
    .book-container h3 {
        font-size: 7vw;
        font-weight: 600;
        color: #F8F1DF;
    }
}