* {
    margin: 0;
    padding: 0;
    font-family: "Advent Pro", sans-serif;
}


body{
    background-color: var(--dark-bg-color);
    color: var(--light-bg-color);
}
:root {
    --dark-bg-color: #1C1B29;
    --dark2-bg-color: #1D2C4B;
    --contrast-bg-color: #EE9E59;
    --contrast2-bg-color: #6EBFC2;
    --light-bg-color: #F8F1DF;
  }

.align-login-container{
    display: block;
    justify-content: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    opacity: 1;
    z-index: 1;
    transition: opacity 0.5s linear;
}

.login-container {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/img/20042f9caa485bddeac299a0abc2b984~2.jpg_1725883222476.jpg');
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    z-index: 2;
    height: 100%;
    transition: opacity 0.5s linear, transform 0.5s linear;
    background-size: 100% 100%;
    width: 25%;
    background-repeat: no-repeat;
    justify-content: center;
    text-align: center;
    opacity: 1;
}

.hidden {
    display: none;
}

.visuallyhidden {
    opacity: 0;
    transition: opacity 0.5s linear;
}
.align-login-container{
    width: auto;
    height: auto;
}

.align-login-container img {
    width: 7vw;
    height: 7vw;
    display: block;
    margin: 12.5vh auto;
    border-radius: 50%;
    border-color: var(--light-bg-color);
    border: var(--light-bg-color) 5px solid;
    object-fit: cover;

}
.buttons {
    margin-top: 7.5vh;
    display: inline-grid;
    
}

.editarbutton{
    background-color: var(--contrast-bg-color);
    font-size: 3vw;
    border-radius: 12px;
    width: 15vw;
    margin-top: 15%;
    font-weight: 600;
    border-style: none;
}

.sugerenciabutton{
    background-color: var(--light-bg-color);
    font-size: 3vw;
    border-radius: 12px;
    width: 15vw;
    margin-top: 5%;
    font-weight: 600;
    border-style: none;
}

.editarbutton a, .cerrarbutton a, .sugerenciabutton a{
    text-decoration: none;
    color: var(--light-bg-color);
}

.cerrarbutton {
    color: var(--light-bg-color);
    background-color: var(--contrast2-bg-color);
    font-size: 2.65vw;
    border-radius: 12px;
    width: 15vw;
    margin-top: 15%;
    cursor: pointer;
    font-weight: 600;
    padding: 0.5vw;
    border-style: none;
}

.login-button {
    text-decoration: none;
    color: var(--light-bg-color);
    background-color: var(--contrast2-bg-color);
    font-size: 3vw;
    border-radius: 10px;
    width: 10vw;
}

.register-button {
    text-decoration: none;
    color: var(--contrast-bg-color);

}

.login-container p {
    margin-top: 5vh;
    color: var(--light-bg-color);
    font-weight: 600;
    font-size: 1.5vw;
}

#user-icon {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    cursor: pointer;
}

.header {
    background-color: var(--dark-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
    position: relative;
    width: 100%;
}

.header div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header img {
    width: 6vw;
}

.header input {
    height: 3.5vh;
    width: 30vw;
    background-color: var(--contrast-bg-color);
    border-style: none;
    outline: none;
    font-size: 1.5vw;
}

.header form {
    border-radius: 0.5vw;
    display: flex;
    padding: 0.5vw;
    align-items: center;
    background-color: var(--contrast-bg-color);
}

#search::placeholder{
    color: var(--dark-bg-color);
    width: 20vw;
    height: 10vh;
}

.header h1 {
    color: var(--light-bg-color);
    margin: 0%;
    font-size: 3vw;
    font-weight: bold;
}

.header ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
    display: flex;
    align-items: center;
}

.header li {
    margin-left: 2vw;
}

.header li img{
    border-radius: 50%;
    border-color: var(--light-bg-color);
    border: var(--light-bg-color) 3.5px solid;
    object-fit: cover;
}

.header a {
    text-decoration: none;
    color: var(--light-bg-color);
    font-size: 1.8vw;
}

.header a:hover{
    color: var(--contrast-bg-color);
}

.img-static {
    background-image: url(/static/img/fond.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    height: 38vw;
    padding: 0 1vw;
}

.img-static h2 {
    padding-top: 15vw;
    font-size: 10vw;
    color: var(--light-bg-color);
}

.img-static p {
    font-size: 2vw;
    color: var(--light-bg-color);
}

main {
    background-color: var(--dark-bg-color);
    height: auto;
    margin-bottom: 2.55%;
}

.explora h2{
    color: var(--contrast2-bg-color);
    text-align: center;
    font-size: 3.5vw;
}
.explora p{
    color: var(--light-bg-color);
    text-align: center;
    font-size: 2vw;
    padding-top: 4vw;
}

.img-promo {
    margin: 2vw;
    gap: 2vw;
    display: flex;
    flex-direction: row;
    height: 43vw;
    color: var(--light-bg-color);
}

.img-izq {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/img/48sintítulo_20240903122551.jpg);
}

.img-izq h3,
.img-der h3 {
    font-weight: bold;
    font-size: 3vw;
}

.img-der {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/img/img-promo-der.jpg);
}

.img-der,
.img-izq {
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 48vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-center{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/img/776507155becf8114634271603b6cb0f.gif);
    border-radius: 20px;
    margin: 2vw;
    gap: 2vw;
    height: 55vw;
    color: var(--light-bg-color);
    background-repeat: no-repeat;
    background-size: 96vw;
}

.book-container {
    display: grid;
    margin: 2vw;
    gap: 2.5vw;
    grid-template-columns: repeat(4, 1fr);
}

.book-container >article {
    background-color: var(--dark2-bg-color);
    border-radius: 10px;
    overflow: hidden;
}

.book-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    aspect-ratio: 200 / 300;
}

.book-container img:hover {
    transform: scale(1.1);
}

.book-img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.book-container .book-info {
    padding: 10px;
    object-fit: cover;
}

.book-container h3 {
    font-size: 1.5vw;
    font-weight: 600;
    color: var(--light-bg-color);
}

.book-container p {
    font-size: 1vw;
    font-weight: 300;
    color: var(--light-bg-color);
}

.upmas{
    padding: 20px 0px;
    margin-top: 10px;
}

.mas{
    color: var(--light-bg-color);
}

.subscribe{
    width: 100%;
    position: absolute;
    margin-bottom: 50%;
    display: flex;
    justify-content: center;
}

.container-subscribe{
    background-color: var(--dark2-bg-color);
    display: flex;
    justify-content: center;
    width: 45vw;
    height: 5vw;
    color: var(--light-bg-color);
    align-items: center;
    border-radius: 15px;
}

.container-subscribe h2{
    font-size: 2vw;
}

.container-subscribe a{
    text-decoration: none;
    color: var(--light-bg-color);
    margin-left: 2vw;
    background-color: var(--contrast-bg-color);
    font-size: 2vw;
    border-radius: 10px;
    padding: 0.4vw .6vw;     
}

.footer {
    background-color: var(--contrast2-bg-color);
    color: var(--dark-bg-color);
    padding: 20px 0;
    text-align: center;
    margin-top: 5%;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 8vh;
    font-size: 1.75vw;
    font-weight: 600;
}

.social-media {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 3vh;
    padding-bottom: 12vh;
    display: flex;
    justify-content: space-between;
}

.social-media li {
    margin-right: 20px;
}

.social-media a {
    text-decoration: none;
}

.fav{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2vw;
}

.fav h1{
    width: 2vw;
}

.fav svg{
    width: 7.5vw;
}

.no-fav{
    color: var(--contrast-bg-color);
    text-align: center;
    margin: 10vw 0;
}
.searchs2 {
    display: none;
}

.list-menu {
    display: none;
}

.texto {
    display: none;
}

.Titulo-D{
    display: none;
}

.txt-destacados{
    text-align: center;
    font-size: 4vw;
    color: var(--contrast2-bg-color);
    margin-bottom: 5vw;
}

@media (min-width:320px) and (max-width: 800px){
    .header {
        background-color: #1C1B29;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 0;
        position: relative;
        width: 95%;
        padding-left: 2.5%;
        padding-right: 2.5%;
        height: 17vh;
    }

    .header h1{
        font-size: 6vw;
    }


    #user-icon{
        width: 9vw;
        height: 9vw;
    }

    .searchs2 {
        display: flex;
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        height: 6vw;
        background-color: var(--contrast-bg-color);
        border-style: none;
        outline: none;
        font-size: 2vw;
        margin-bottom: 2vw;
        border-radius: 5px;
        align-items: center;
    }


    .searchs2 input {
        width: 100%;
        background-color: var(--contrast-bg-color);
        border-style: none;
        outline: none;
        font-size: 3vw;
        border-radius: 5px;
    }

    .searchs2 input::placeholder {
        color: var(--dark-bg-color);
        width: 100%;
        height: 10vw;
    }

    .searchs2 svg{
        width: 6vw;
    }

    .login-container {
        width: 40%;
    }

    .list-menu {
        display: block;
    }

    .texto {
        display: block;

    }

    .texto h1 {
        font-size: 4vw;
        font-weight: 400;
    }

    .top-izquierda h1 {
        color: #F8F1DF;
        margin: 0;
        font-size: 7vw;
        font-weight: bold;
    }

    .header div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header a {
        text-decoration: none;
        color: #F8F1DF;
        font-size: 5vw;
    }

    .header ul {
        margin-left: -2vw;
    }

    .header img {
        width: 16vw;
    }

    .header ul li svg {
        width: 9vw;
    }

    .info,
    .inicio {
        display: none;
    }


    .align-login-container img {
        width: 16vw;
        height: 16vw;
        margin: 10vh auto;
    }

    .login-button {
        text-decoration: none;
        color: var(--light-bg-color);
        background-color: var(--contrast2-bg-color);
        font-size: 6vw;
        border-radius: 7.5px;
        width: 17.5vw;
        padding: 0vw 1vw;
    }
    
    .buttons {
        margin-top: 15vh;
        display: inline-grid;
        
    }
    
    .editarbutton{
        background-color: var(--contrast-bg-color);
        font-size: 5.5vw;
        border-radius: 12px;
        width: 25vw;
        margin-top: 15%;
        font-weight: 600;
    }
    
    .cerrarbutton {
        color: var(--light-bg-color);
        background-color: var(--contrast2-bg-color);
        font-size: 4.65vw;
        border-radius: 12px;
        width: 25vw;
        margin-top: 15%;
        cursor: pointer;
        font-weight: 600;
    }


    .header form {
        border-radius: 5px;
        display: none;
        padding: .5vw;
        align-items: center;
        background-color: #1D2C4B;
        margin-left: 3vw;
    }

    .header form svg {
        width: 20px;
        height: 20px;
    }

    .footer{
        margin-top: 7.5%;
    }

    .img-static {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/img/fond2.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-attachment: fixed;
        height: 120vw;
        padding: 0 1vw;
    }

    .img-static h2 {
        text-align: center;
        padding-top: 40vw;
        font-size: 15vw;
        color: #F8F1DF;
    }

    .img-static p {
        text-align: center;
        font-size: 5vw;
        color: #F8F1DF;
    }

    main {
        background-color: #1C1B29;
        height: auto;
    }

    .explora h2 {
        color: var(--contrast2-bg-color);
        text-align: center;
        font-size: 8vw;
        padding-bottom: 4vw;
    }

    .explora p {
        color: var(--light-bg-color);
        text-align: center;
        font-size: 5vw;
        padding-top: 2vw;
    }
    

    .img-promo {
        margin: 2vw;
        gap: 2vw;
        display: flex;
        color: var(--light-bg-color);
    }

    .img-izq {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/img/48sintítulo_20240903122551.jpg);
    }

    .img-izq h3,
    .img-der h3 {
        text-align: center;
        font-weight: bold;
        font-size: 6vw;
    }

    .img-der {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/img/img-promo-der.jpg);
    }

    .img-der,
    .img-izq {
        border-radius: 10px;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .subscribe {
        width: 100%;
        position: absolute;
        margin-bottom: 50%;
        display: flex;
        justify-content: center;
    }
    
    .container-subscribe {
        width: 70%;
        height: 10vw;
        align-items: center;
        border-radius: 15px;
    }

    .container-subscribe h2 {
        font-size: 4vw;
    }
    
    .container-subscribe a {
        font-size: 4vw;
        border-radius: 5px;
        padding: 0.5vw;
        color: var(--dark-bg-color);
        border: 7px;
    }

    .Titulo-D{
        display: flex;
        justify-content: center;
    }

    .Titulo-D{
        font-size: 4vw;
        margin-top: 10vw;
        margin-bottom: 10vw;
    }

    .book-container {
        display: grid;
        margin: 2vw;
        gap: 2.5vw;
        grid-template-columns: repeat(2, 1fr);
    }

    .book-container>article {
        background-color: #1D2C4B;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 10vw;
    }

    .book-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s;
        aspect-ratio: 200 / 300;
    }

    .book-container img:hover {
        transform: scale(1.1);
    }

    .book-img {
        width: 100%;
        height: 250px;
        overflow: hidden;
    }

    .book-container .book-info {
        padding: 10px;
        object-fit: cover;
    }

    .book-container h3 {
        font-size: 5vw;
        font-weight: 600;
        color: #F8F1DF;
    }

    .book-container p{
        font-size: 4vw;
        font-weight: 350;
    }

    .align-login-container svg {
        width: 12.5vw;
        margin: 15vw auto;
    }
    

    .social-media {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-top: 3vh;
        padding-bottom: 12vh;
        display: flex;
        justify-content: space-evenly;
    }

    .container p{
        font-size: 3vw;
    }

    .social-media svg{
        width: 7.5vw;
    }

    .login-container p {
        margin-top: 2vh;
        color: var(--light-bg-color);
        font-size: 4.5vw;
        font-weight: 600;
    }

    .login-container p a{
        font-size: 4vw;
        font-weight: 600;
    }

}